{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if reservation and user and product %}

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" style="margin-top: 20px;" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="data:image/png;base64,{{product.get_b64_img()}}" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <p>Product: {{ product.name }}</p>
            <p>User: {{ user.username }}</p>
            <p>Amount: {{ reservation.amount }}</p>
            <p>Current Status: {{ reservation.status }}</p>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.status.label(class="form-control-label") }}
                    {{ form.status(class="uk-select uk-form-width-small") }}
                    {% if form.status.errors %}
                    <div class="alert alert-warning" role="alert">
                        {% for error in form.status.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {{ form.submit(class="uk-button uk-button-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>


{% endif %}
{% endblock content %}