{% extends "header.html" %}
{% block content %}
<div class="jumbotron" style="margin-top: 20px;">
    <div class="container">
      <h2 class="display-5">Reservations</h2>
    </div>
</div>

{% if current_user.username == "admin" %}
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink"></th>
                <th class="uk-table-shrink uk-text-nowrap">Customer</th>
                <th class="uk-width-small">Product</th>
                <th class="uk-table-shrink">Amount</th>
                <th class="uk-width-small">Status</th>
            </tr>
        </thead>
        {% for reservation in reservations %}
        <tbody>
            <tr>
                <td><img class="uk-preserve-width uk-border-circle" src="data:image/png;base64,{{reservation.product.get_b64_img()}}" width="40" alt="sd"></td>
                <td class="uk-text-nowrap">{{reservation.user.username}}</td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ url_for('products.reservation_detail', product_name=reservation.product.name, user_name=reservation.user.username) }}">{{reservation.product.name}}</a>
                </td>
                <td class="uk-table-shrink">{{reservation.amount}}</td>
                <td class="uk-text-truncate">{{reservation.status}}</td>
            </tr>
        </tbody>
        {% endfor  %}
    </table>
</div>
<div class="chart" id="bargraph">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>
<div class="chart" id="bargraph2">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        var graphs = {{plot2 | safe}};
        Plotly.plot('bargraph2',graphs,{});
    </script>
</div>

{% else %}
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink"></th>
                <th class="uk-width-small">Product</th>
                <th class="uk-width-small">Amount</th>
                <th class="uk-width-small">Status</th>
            </tr>
        </thead>
        {% for reservation in reservations %}
        <tbody>
            <tr>
                <td><img class="uk-preserve-width uk-border-circle" src="data:image/png;base64,{{reservation.product.get_b64_img()}}" width="40" alt="sd"></td>
                <td class="uk-table-link">
                    <a class="uk-link-reset" href="{{ url_for('products.product_detail', product_name=reservation.product.name) }}">{{reservation.product.name}}</a>
                </td>
                <td class="uk-text-truncate">{{reservation.amount}}</td>
                <td class="uk-text-truncate">{{reservation.status}}</td>
            </tr>
        </tbody>
        {% endfor  %}
    </table>
</div>
{% endif %}
{% endblock %}